<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-capitalize text-light" href="#">Shipping Calculator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container mt-2">
  <div class="row">
    <div class="card full-width">
      <div class="card-body">
        <h2>Shipping calculator</h2>
        <hr>
        <div class="row">
          <div class="col-6 mb-4">
            <h5>Package Information</h5>
            <hr>
            <div class="form-group">
              <label for="price">Yuan Price: </label>
              <input type="number" id="price" class="form-control" [(ngModel)]="shipping.price" (change)="initialPoint()">
              <label for="weight">Weight (kg): </label>
              <input type="number" id="weight" class="form-control" [(ngModel)]="shipping.weight" (change)="initialPoint()">
              <label for="quantities">Quantities: </label>
              <input type="number" id="quantities" class="form-control" [(ngModel)]="shipping.quantities" (change)="initialPoint()">
              <h6>Total weight: <strong>{{ shipping.totalWeight }} Kg.</strong></h6>
            </div>
          </div>
          <div class="col-6 mb-4">
            <h5>Shipping Information</h5>
            <hr>
            <div class="form-group">
              <label for="width">Width (mts): </label>
              <input type="number" id="width" class="form-control" [(ngModel)]="shipping.width" (change)="initialPoint()">
              <label for="height">Height (mts): </label>
              <input type="number" id="height" class="form-control" [(ngModel)]="shipping.height" (change)="initialPoint()">
              <label for="large">Large (mts): </label>
              <input type="number" id="large" class="form-control" [(ngModel)]="shipping.large" (change)="initialPoint()">
              <h6>Volumetric weight: <strong>{{ shipping.totalVolumetricWeight }} kg</strong></h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-4">
            <h5>China to USA</h5>
            <hr>
            <div class="form-group">
              <label for="ctu_price">Price Yuan/Kg</label>
              <input type="number" id="ctu_price" class="form-control" [(ngModel)]="shipping.ctuPrice" (change)="initialPoint()">
            </div>
          </div>
          <div class="col-6 mb-4">
            <h5>USA to Venezuela</h5>
            <hr>
            <div class="form-group">
              <label for="utv_price">Price USD/Kg</label>
              <input type="number" id="utv_price" class="form-control" [(ngModel)]="shipping.utvPrice" (change)="initialPoint()">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-4">
            <h5>Exchange Rates</h5>
            <hr>
            <label for="usd">1 YUAN = {{ shipping.yuanUsd }} $ USD</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">1 YUAN = </span>
              </div>
              <input type="number" class="form-control" id="usd" aria-describedby="usd" min="0" [(ngModel)]="shipping.yuanUsd" (change)="setChangeYuan()">
              <div class="input-group-append">
                <span class="input-group-text">$ USD</span>
              </div>
            </div>
            <br>
            <label for="yuan">1 USD = {{ shipping.usdYuan }} Yuan</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">1 USD = </span>
              </div>
              <input type="number" class="form-control" id="yuan" aria-describedby="yuan" min="0" [(ngModel)]="shipping.usdYuan" (change)="setChangeUsd()">
              <div class="input-group-append">
                <span class="input-group-text">Y YUAN</span>
              </div>
            </div>
          </div>
          <div class="col-6 mb-4">
            <h5>Shipping & amount</h5>
            <hr>
            <table class="table">
              <tr>
                <td class="font-weight-bold">Destination</td>
                <td class="font-weight-bold">Price </td>
              </tr>
              <tr>
                <td>Purchase</td>
                <td>Yuan {{ shipping.purchaseYuan }}
                  <br>
                USD {{ shipping.purchaseUsd }}</td>
              </tr>
              <tr>
                <td>China -> USA</td>
                <td>Yuan {{ shipping.usaYuan }}
                  <br>
                  USD {{ shipping.usaUsd }}</td>
              </tr>
              <tr>
                <td>USA -> Venezuela</td>
                <td>Yuan {{ shipping.vzlaYuan }}
                  <br>
                  USD {{ shipping.vzlaUsd }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3>Grand Totals</h3>
            <hr>
            <table class="table">
              <thead>
              <tr>
                <td class="font-weight-bold">Description</td>
                <td class="font-weight-bold">Total</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>USD $</td>
                <td>{{ shipping.usdGrandTotal }}</td>
              </tr>
              <tr>
                <td>Yuan Y</td>
                <td>{{ shipping.yuanGrandTotal }}</td>
              </tr>
              <tr>
                <td>Unit cost</td>
                <td>USD $ {{ shipping.unitCostUsd }} <br>
                Yuan Y {{ shipping.unitCostYuan }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
