<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-capitalize text-light" href="#">Shipping Calculator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container mt-2">
  <div class="row">
    <div class="card full-width">
      <div class="card-body">
        <h2>Shipping calculator</h2>
        <hr>
        <div class="row">
          <div class="col-6 mb-4">
            <h5>Package Information</h5>
            <hr>
            <div class="form-group">
              <label for="price">Yuan Price: </label>
              <input type="number" id="price" class="form-control" value="{{ price }}">
              <label for="weight">Weight: </label>
              <input type="number" id="weight" class="form-control" value="{{ weight }}">
              <label for="quantities">Quantities: </label>
              <input type="number" id="quantities" class="form-control" value="{{ quantities }}">
              <h6>Volumetric weight: <strong>{{ volumetricWeight }}</strong></h6>
            </div>
          </div>
          <div class="col-6 mb-4">
            <h5>Shipping Information</h5>
            <hr>
            <div class="form-group">
              <label for="width">Width: </label>
              <input type="number" id="width" class="form-control" value="{{ width}}">
              <label for="height">Height: </label>
              <input type="number" id="height" class="form-control" value="{{ height }}">
              <label for="large">Large: </label>
              <input type="number" id="large" class="form-control" value="{{ large }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-4">
            <h5>China to USA</h5>
            <hr>
            <div class="form-group">
              <label for="ctu_price">Price Yuan/Kg</label>
              <input type="number" id="ctu_price" class="form-control" value="{{ ctuPrice }}">
            </div>
          </div>
          <div class="col-6 mb-4">
            <h5>USA to Venezuela</h5>
            <hr>
            <div class="form-group">
              <label for="utv_price">Price USD/Kg</label>
              <input type="number" id="utv_price" class="form-control" value="{{ utvPrice }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-4">
            <h5>Exchange Rates</h5>
            <hr>
            <label for="usd">1 YUAN = {{ yuanUsd }} $ USD</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">1 YUAN = </span>
              </div>
              <input type="number" class="form-control" id="usd" aria-describedby="usd" value="{{ yuanUsd }}">
              <div class="input-group-append">
                <span class="input-group-text">$ USD</span>
              </div>
            </div>
            <label for="yuan">1 USD = {{ usdYuan }} Yuan</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">1 USD = </span>
              </div>
              <input type="text" class="form-control" id="yuan" aria-describedby="yuan" value="{{ usdYuan }}">
              <div class="input-group-append">
                <span class="input-group-text">Y YUAN</span>
              </div>
            </div>
          </div>
          <div class="col-6 mb-4">
            <h5>Shipping & amount</h5>
            <hr>
            <table class="table">
              <tr>
                <td class="font-weight-bold">Destination</td>
                <td class="font-weight-bold">Price </td>
              </tr>
              <tr>
                <td>Purchase</td>
                <td>Yuan {{ purchaseYuan }}
                  <br>
                USD {{ purchaseUsd }}</td>
              </tr>
              <tr>
                <td>United States</td>
                <td>Yuan {{ usaYuan }}
                  <br>
                  USD {{ usaUsd }}</td>
              </tr>
              <tr>
                <td>Venezuela</td>
                <td>Yuan {{ vzlaYuan }}
                  <br>
                  USD {{ vzlaUsd }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3>Grand Totals</h3>
            <hr>
            <table class="table">
              <thead>
              <tr>
                <td class="font-weight-bold">Description</td>
                <td class="font-weight-bold">Total</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>USD $</td>
                <td>{{ usdGrandTotal }}</td>
              </tr>
              <tr>
                <td>Yuan Y</td>
                <td>{{ yuanGrandTotal }}</td>
              </tr>
              <tr>
                <td>Bolivares Bs</td>
                <td>{{ bsGrandTotal }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
